body {
  background-color: green;
  padding-left: 145px;
}

p {
  background-color: blue;
}
header a {
  text-decoration: none;
}
.titulo {
  text-align: center;
  font-size: 3.8rem;
  color: blanchedalmond;
}
